{% extends 'todo/sketch.html' %}
{% block content %}
<div class="logout-button">
{% if request.user.is_authenticated %}
<a class="logout" href="{% url 'logout' %}">Logout</a> 
{% else %}
<a class="logout" href="{% url 'login' %}">Login</a> 
{% endif %}
</div>
<h1>Hello {{request.user|title}}</h1>

<div>
    <div style="display: flex; align-items: center; justify-content: center;"> 
    <a class="button" href="{% url 'task-create' %}">Add task</a>
    </div>
    <h5>you have {{count}} incomplete task{{ count|pluralize:"s" }}</h5>
    {% for task in tasks %}
    {% if task.complete %}

    <div class="item-row">
        <div class="item-row hide">
            <div>{{task.description}}</div>
        </div>
        <div class="done">done</div>
        <div class="item-text">{{task}}</div>
        <div class="item-button"><a class="button" href="{% url 'task-update' task.id %}">View</a></div>
        <div class="item-button"><a class="button" href="{% url 'task-delete' task.id %}">Delete</a></div>

    </div>

    {% else %}

    <div class="item-row">
        <div class="item-row hide">
            <div>{{task.description}}</div>
        </div>
            <div class="todo">to do</div>
            <div class="item-text">{{task}}</div>
            <div class="item-button"><a class="button" href="{% url 'task-update' task.id %}">View</a></div>
            <div class="item-button"><a class="button" href="{% url 'task-delete' task.id %}">Delete</a></div>

    </div>

    {% endif %} 

    {% empty %}
    <div>
        <h3>Nothing planned to do...</h3>

    {% endfor %}
</div>

{% endblock content %}
